html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace;
    background-color: #2C3A47;
}

.btn-start, .card-box, .score-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 80px;
    background-color: #dfe4de;
}

.btn-start:hover {
    background-color: #bacbb6;
}

.card-box {
    transform: translate(-50%, -50%) scale(0.7);
    width: 550px;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: #f6f6f6
}

.card-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.card-header {
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    position:relative;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    width: 200px;
    height: 4px; 
}

.card-body {
        background-color:#fcfcfceb ;

}

.question-text {
    padding: 15px 0;
    font-size: 20px;
    font-weight: 700;
}

.option-list {
    padding: 10px 0
}

.option {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.option:hover {
    background-color: #F8EFBA;
}

.correct {
    color: #155724;
    background-color: #d4edda;
}

.incorrect {
    color: #721c24;
    background-color: #f8d7da;
}

.disabled {
    pointer-events: none;
}


.btn-next {
    opacity: 0.5;
    pointer-events: none;
}

.btn-next.active {
    opacity: 1;
    pointer-events: auto;
    background-color: #e9e9e9;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.score-box {
    transform: translate(-50%, -50%) scale(0.7);
    width: 550px;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: #f6f6f6;
    display:flex;
    justify-content: center;
    align-items: center;

}

.score-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}